<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>255468829828-sq1i5if8qa6s7fiv1q0ihfmmja0cl1oh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.255468829828-sq1i5if8qa6s7fiv1q0ihfmmja0cl1oh</string>
	<key>API_KEY</key>
	<string>AIzaSyAj1hANJUKEkVQXR6YI4wGCIbti45kX94U</string>
	<key>GCM_SENDER_ID</key>
	<string>255468829828</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>practice.EmailLoginApp</string>
	<key>PROJECT_ID</key>
	<string>emailloginapp</string>
	<key>STORAGE_BUCKET</key>
	<string>emailloginapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:255468829828:ios:8285905c91d3234d</string>
	<key>DATABASE_URL</key>
	<string>https://emailloginapp.firebaseio.com</string>
</dict>
</plist>